/* Add application styles & imports to this file! */

p {
  font-family: Lato;
}

.example-viewport {
  height: 200px;
  width: 500px;
  border: 1px solid black;
}

.example-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 50px;
}

.example-item + .example-item {
  border-top: 1px solid darkblue;
}

.loading {
  color: darkgray;
}
